#container{
    display:flex;
    background-image: linear-gradient(to right,hwb(253 2% 0%),rgb(225, 2, 255));
    border-radius: 20px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    justify-content: space-evenly;
}

li{
    display: inline;
    padding-top: 20px;
    margin-right: 20px;
    text-align: center;
    padding-left: 15px;
}
#a{
    text-decoration: none;
    color: white;
}
nav{
    
    border: none;
    background-image: linear-gradient(to right,rgb(225, 2, 255),hwb(253 2% 0%));
    border-radius: 20px;
    list-style-type: none;
   

}
#modi-quotes{
    color: gray;
    font-size: 15px;
}
#mail{
    text-decoration: none;
    color: white;
    
}
#fa{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    color: white;
}
footer{
    padding-left: 10px;
    color: white;
    border-radius: 20px;
    display: flex;
    background-image: linear-gradient(to right,hwb(253 2% 0%),rgb(225, 2, 255));
}
#footernav{
    margin-left: 50px;
}
#readmore{

    width: 100px;
    height: 30px;
    border:none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-image: linear-gradient(rgb(255, 2, 234),hwb(324 2% 0%));
    border-radius :15px;
}
body::-webkit-scrollbar{
    display: none;
}
.line{
    margin: 5px;
    width: 40px;
    height: 5px;
    border-radius: 2.5px;
    background-color: rgb(106, 0, 255);
}
.bar{
    position: relative;
    display: none;
}

.barIn:hover{
    cursor: pointer;
}
@media screen and (width<1360px) {
    #container nav ul{
        display: none;
    }
    .bar{
        display: block;
    }
    .hideedNav.show {
        display: block;
    }
    
}

.hideedNav nav ul{
    /* display: none; */
    display: grid;
    text-align: center;
    justify-content: center;
    width: 100%;
    left: 40%;
}

.hideedNav{
    width: 100%;
    position: fixed;
    display: none;
}
